<center>
  {{ if eq .Site.Language.Lang "en" }}
    <h3 style="color: #4caf50;">Comment Area</h3>
    <p>Have questions about the Gospel above? Don;t be afraid, ask us anything, our priest will answers for you.</p>
  {{ else if eq .Site.Language.Lang "zh" }}
    <h3 style="color: #4caf50;">互动区</h3>
    <p>对以上的福音有疑问吗？不要怕，只管信！把你心中的问题写出来，神父会帮你解答。</p>
  {{ end }}
</center>
<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="65b67455-9388-48d4-bae3-e030f380a6c5"
  data-page-id="{{ print .File.UniqueID .Site.Language.Lang }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
></div>
{{ if eq .Site.Language.Lang "en" }}
    <script defer src="https://cusdis.com/js/widget/lang/en.js"></script>
{{ end }}
{{ if eq .Site.Language.Lang "zh" }}
    <script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
{{ end }}
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>
