<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=507390463679628&autoLogAppEvents=1" nonce="cej5EbRh"></script>
<script type="text/javascript" src="node_modules/plyr/dist/plyr.js"></script>
<script src="https://cdn.jsdelivr.net/gh/peranakanfrancis/whatsapp-widget@v1.0/dist/js/whatsapp-widget.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="js/build/pdf.js"></script>
<script type="text/javascript" src="js/build/pdf.worker.js"></script>
