<form id="whatsapp" class="wa-widget" action="60145373838" data-chat="whatsapp"></form>
<script>
    // WhatsAppWidget(element, { configs }, [ inputs ])

    var chat = new WhatsAppWidget(document.getElementById('whatsapp'), {
        // configs...
        name: 'Theresa 佩佩',
        photo: '/img/user.jpg',
        division: 'Parish Office',
        introduction: 'Hi, how can I help you today?'
    }, [
        // array of input object
        {
                data: 'name',
                type: 'text',
                required: true
            }, {
                data: 'message',
                type: 'text',
                required: true
            }
    ]);
</script>
