<form method="post" action="#" data-netlify="true" data-netlify-recaptcha="true">
    <div class="col-md-6"></div>
      <div class="form-group">
          {{ if eq .Site.Language.Lang "en" }}
          <textarea name="prayer-request" class="form-control" placeholder="Prayer Petition Box" style="width: 100%; height: 150px;"></textarea>
          {{ else if eq .Site.Language.Lang "zh" }}
          <textarea name="prayer-request" class="form-control" placeholder="祈求信箱" style="width: 100%; height: 150px;"></textarea>
          {{ end }}
      </div>
      <div class="form-group">
        {{ if eq .Site.Language.Lang "en" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="Send Petition">
        {{ else if eq .Site.Language.Lang "zh" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="发送祈求">
        {{ end }}
      </div>
</form>
