<form name="PrayerRequestForm" id="prayer-form" class="prayer-form" method="post" data-netlify="true" data-netlify-recaptcha="true">
    <div class="col-md-6"></div>
      <div class="form-group">
          {{ if eq .Site.Language.Lang "en" }}
          <label id="contact-form-name-label" for="contact-form-name" class="form-label">Name</label>
          <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" placeholder="My name" class="form-input" />
          <textarea name="txtMsg" class="form-control" placeholder="My Prayer Request" row="6"></textarea>
          {{ else if eq .Site.Language.Lang "zh" }}
          <label id="contact-form-name-label" for="contact-form-name" class="form-label">名字</label>
          <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" placeholder="我的名字" class="form-input" />
          <textarea name="txtMsg" class="form-control" placeholder="我的祷告" row="6"></textarea>
          {{ else if eq .Site.Language.Lang "ta" }}<label id="contact-form-name-label" for="contact-form-name" class="form-label">பெயர்</label>
          <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" placeholder="என் பெயர்" class="form-input" />
          <textarea name="txtMsg" class="form-control" placeholder="பிரார்த்தனை மனு பெட்டி" row="6"></textarea>
          {{ end }}
      </div>
      <div class="g-recaptcha" data-sitekey="6LcQ0YIbAAAAALC1ryXe_SVBfB7Cpl3mLa-w3_nF"></div>
      <div class="form-group">
        {{ if eq .Site.Language.Lang "en" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="Send">
        {{ else if eq .Site.Language.Lang "zh" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="发送">
        {{ else if eq .Site.Language.Lang "ta" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="மனு அனுப்பவும்">
        {{ end }}
      </div>
</form>
