<form name="PrayerRequestForm" id="prayer-form" class="prayer-form" method="post" data-netlify="true" data-netlify-recaptcha="true">
    <div class="col-md-6"></div>
      <div class="form-group">
        {{ if eq .Site.Language.Lang "en" }}
        <input type="text" name="txtName" class="form-control" placeholder="Name" value="">
        {{ else if eq .Site.Language.Lang "zh" }}
        <input type="text" name="txtName" class="form-control" placeholder="名字" value="">
      </div>
        {{ end }}
    <div class="col-md-6"></div>
      <div class="form-group">
          {{ if eq .Site.Language.Lang "en" }}
          <textarea name="txtMsg" class="form-control" placeholder="Prayer Petition Box" row="6"></textarea>
          {{ else if eq .Site.Language.Lang "zh" }}
          <textarea name="txtMsg" class="form-control" placeholder="祈求信箱" row="6"></textarea>
          {{ end }}
      </div>
      <div class="g-recaptcha" data-sitekey="6LcQ0YIbAAAAALC1ryXe_SVBfB7Cpl3mLa-w3_nF"></div>
      <div class="form-group">
        {{ if eq .Site.Language.Lang "en" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="Send Petition">
        {{ else if eq .Site.Language.Lang "zh" }}
        <input type="submit" name="btnSubmit" class="btnSubmit" value="发送祈求">
        {{ end }}
      </div>
</form>
